# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.idea
.vscode

# Binaries and temp files
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Air configuration
.air.toml

# Dependencies
vendor/